{% extends "network/layout.html" %}
{%load humanize%}
{% block body %}
<div class="flex-column">
{% for post in page_obj %}
{# Each "post" is a Post model object. #}
<div class="flex-column card m-2">
<div class="card-body">
<p>{{post.author.username}}</p>
<p>{{ post.content }}</p>
{%if post.author == request.user%}
<button id="edit_{{post.pk}}" class="btn btn-outline-secondary btn-sm">Edit (TODO)</button>
{%endif%}
<p>{{ post.publication_datetime|naturaltime}}</p>
<p><img {% if auth_tru %} class="like_btn" {%endif%} id="heart_{{post.pk}}" src="/static/network/heart.png">{{post.no_of_likes}}</p>
{% if auth_tru %}
<button id="edit_{{comment.pk}}" class="btn btn-outline-secondary btn-sm">Comment (TODO)</button>
{%else%}
<p><a class="link" href="{% url 'login' %}">Log In</a> or <a class="link" href="{% url 'register' %}">register</a> to like & comment posts</p>
{%endif%}
</div>
</div>
{% endfor %}
</div>

<span class="current">
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>
<nav aria-label="Page navigation example">
<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <a class="page-link" href="?page=1">&laquo; first</a>
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}


    {% if page_obj.has_next %}
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</div>
</nav>
{% endblock %}